<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.fullsetup">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowClearUserData="true"
        android:networkSecurityConfig="@xml/network_security_config">

        <activity
            android:name="com.demo.fullsetup.aPackage.uis.actvity.IntroActivity"
            android:exported="false" />
    </application>

</manifest>